.header{
    background-color: darkgreen;
    border-radius: 10px;
    text-align: justify;
}
.navigation{
    background-color: darkgoldenrod;
    color: aliceblue;
    border-radius: 10px;
}
ul, li{
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}

article{
    display: inline-block;
    background-color: blue;
    width: 25%;
    height: 165px;
    border-radius: 10px;
}
aside{
    background-color: brown;
    display: block;
    float: right;
    top: 500px;
    border-radius: 10px;
}

footer{
    margin-top: 500px;
}